extends layout

block content
  h1= tit 
    table.w3-table
        tr
            th.w3-xlarge Província
            td.w3-card=prov
        tr
            th Local
            td.w3-card=local
        tr
            th inst
            td.w3-card=inst 
        tr
            th Tipo de Ficheiro
            td.w3-card=file_t
        tr
            th Nome
            td.w3-card=file_text 