extends layout

block content
  h1
    b= tit 
    div
        button.w3-card.w3-button.w3-text-grey.w3-animate-zoom.w3-xlarge(onclick ="home( )") Home
        button.w3-card.w3-button.w3-text-grey.w3-animate-zoom.w3-xlarge(onclick ="remove_item('" +tit+ "')") Remove
        button.w3-card.w3-button.w3-text-grey.w3-animate-zoom.w3-xlarge(onclick ="mudar('" +tit+ "')") Alterar
    table.w3-table-all
        tr
            th.w3-xlarge Província
            td.w3-card
                p.w3-xlarge=prov
        tr
            th.w3-xlarge Local
            td.w3-card
                p.w3-xlarge=local
        tr
            th.w3-xlarge inst
            td.w3-card
                p.w3-xlarge=inst 
        tr
            th.w3-xlarge Tipo de Ficheiro
            td.w3-card
                p.w3-xlarge=file_t
        tr
            th.w3-xlarge Nome
            td.w3-card
                p.w3-xlarge=file_text 