extends layout

block content
  h1 
    b= "Mudar o arquivo " + tit
  form.w3-container(action="/change_arq/"+tit method="POST")
    .w3-container 
        p.w3-xxlarge= "Titulo ("+tit+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Titulo')
    .w3-container 
        p.w3-xxlarge= "Provincia ("+prov+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Provincia')
    .w3-container 
        p.w3-xxlarge= "Local ("+local+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Local')
    .w3-container 
        p.w3-xxlarge= "Inst ("+inst+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Inst')
    .w3-container 
        p.w3-xxlarge= "Musico ("+musico+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='musico')
    .w3-container 
        p.w3-xxlarge= "Tipo de Ficheiro ("+file_t+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Tipo_f')
    .w3-container 
        p.w3-xxlarge= "Nome do Ficheiro ("+file_text+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='Nome_f')
    .w3-container 
        p.w3-xxlarge= "Duração ("+duracao+"):"
        input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='duracao')
    h2 Oberservações:
        .w3-container 
            p.w3-xxlarge= "Observações ("+obs_t+"):"
            input.w3-input.w3-blue-grey.w3-xlarge.w3-animate-top.w3-round-large(type='text' name='obs_t')
    .w3-container.w3-panel 
        input.w3-card.w3-button.w3-text-grey.w3-animate-zoom.w3-xlarge.w3-round-large(type='submit' value='Mudar' onclick="home()") 